body { 
    padding-bottom: 65px; 
    font-family: 'Yrsa', serif !important;
}

.myTitle
{
    padding-top: 35px;
    padding-bottom: 40px;
}
.myNavbar
{
    background-color: red;
}
.navElem
{
    color: black;
    /* border-bottom-color: #007BFF; */
    border: 2px solid #007BFF;
    /* border-color: #007BFF; */
    border-top-color: white;

}
.info
{
    text-align: center;
}
.my-hr
{
    color: black;
    align-self: center;
    width: 20%;
}